In [19]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import os
import time

In [96]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [22]:
html = browser.html
soup = bs(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [24]:
print(f"news_title = {news_title}")

print(f"news_p = {news_p}")

news_title = Mars Now
news_p = The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

In [25]:
jurl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jurl)

In [26]:
html_image = browser.html
soup_image = bs(html_image, 'html.parser')

In [27]:
featured_image_url  = soup_image.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
main_url = 'https://www.jpl.nasa.gov'
featured_image_url = main_url + featured_image_url

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19324-1920x1200.jpg'

In [97]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [98]:
html_weather = browser.html
soup_weather = bs(html_weather, 'html.parser')

In [99]:
mars_weather_tweet = soup_weather.find("div", 
                                       attrs={
                                           "class": "tweet", 
                                            "data-name": "Mars Weather"
                                        })

In [106]:
mars_weather = mars_weather_tweet.find("p", "tweet-text").get_text()

mars_weather

AttributeError: 'NoneType' object has no attribute 'find'

In [42]:
facts_url = 'http://space-facts.com/mars/'
browser.visit(facts_url)

In [43]:
mars_facts = pd.read_html(facts_url)
mars_df = mars_facts[0]

mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [58]:
mars_df = mars_df.rename(columns={0 : "Attribute", 1 : "Value"})

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [59]:
mars_df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [66]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [68]:
html_hemispheres = browser.html
soup_hemispheres = bs(html_hemispheres, 'html.parser')

In [71]:
items = soup_hemispheres.find_all('div', class_='item')
hemisphere_image_urls = []
hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
    title = item.find('h3').text
    image_url = item.find('a', class_='itemLink product-item')['href']
    browser.visit(hemispheres_main_url + image_url)
    image_html = browser.html
    soup = bs( image_html, 'html.parser')
    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    hemisphere_image_urls.append({"Title" : title, "Image_URL" : image_url})

hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]